.dropdown {
    position: relative;
    text-align: right;
    width: 70%;
    margin-bottom: 20px;
    margin-left: 52px;
}

.dropdown-header {
    border-bottom: 1px solid white;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
}

.arrow {
    transition: transform 0.3s ease;
}

.arrow.open {
    transform: rotate(180deg);
}

.dropdown-list {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1;
    background-color: #272C48;
}

.dropdown-list li {
    padding: 5px;
    cursor: pointer;
}

.dropdown-list li:hover {
    background-color: #D74101;
}