.input {
    width: 50%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid white;
    background: transparent;
    outline: none;
    text-align: 'right';
    color: '#FFFFFF';
    font-Size: 16px;
    transition: border-bottom-color 0.3s;
}

.input input:focus {
    border-bottom-color: #007BFF;
}